@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<form method="post" asp-controller="Home" asp-action="Logout">

<button>Logout </button>
</form>